.itemsList {
  display: grid;
  gap:1rem;
  margin-block: 2rem;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.itemImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}