:root {
  --dark-color: #211C24;
  --darker-color: #EDEDED;
  --light-color: #FAFAFA;


  --background: var(--light-color);
  --foreground: var(--dark-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-color);
    --foreground: var(--light-color);
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  display: grid;
  grid-template-rows: auto 1fr 20px;
  justify-items: center;
  gap: 64px;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.link {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.main {
  width: 100%;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.title {
  text-align: center;
}

.button {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: var(--dark-color);
  font-size: 1rem;
  font-size: 2rem;
  background-color: var(--light-color);
  transition: box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgb(255 255 255 / 0.2);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}