.register {
  width: clamp(300px, 50%, 500px);
  margin-inline: auto;
}

.registerTitle {
  text-align: center;
}

.registerForm {
  display: grid;
  gap: 1rem;
  margin-block: 2rem;
}

.formGroup {
  display: grid;
  gap: 0.5em;
}

.formError {
  color: #d50000;
}

.registerFooter {
  display: grid;
  place-items: center;
}