.formContainer {
  width: clamp(300px, 50%, 500px);
  margin-inline: auto;
}

.formTitle {
  text-align: center;
}

.form {
  display: grid;
  gap: 1rem;
  margin-block: 1rem 2rem;
}

.formGroup {
  display: grid;
  gap: 0.5em;
}

.formError {
  color: #d50000;
}

.formFooter {
  display: grid;
  place-items: center;
}
